wandb
__pycache__/dataloader.cpython-310.pyc
animal_classification/__pycache__/customDataLoader.cpython-310.pyc
animal_classification/__pycache__/dataloader.cpython-310.pyc
CIFAR_10/__pycache__/*
CIFAR_10/cifar-10-batches-py/*
data/FashionMNIST/raw/*
data/mnist/mnist.pkl.gz
data/mnist/raw/t10k-images-idx3-ubyte
data/mnist/raw/t10k-images-idx3-ubyte.gz
data/mnist/raw/t10k-labels-idx1-ubyte
data/mnist/raw/t10k-labels-idx1-ubyte.gz
data/mnist/raw/train-images-idx3-ubyte
data/mnist/raw/train-images-idx3-ubyte.gz
data/mnist/raw/train-labels-idx1-ubyte
data/mnist/raw/train-labels-idx1-ubyte.gz
data/test/*
data/train/*
TorchLesson/data/*
*/.DS_Store
