wandb
__pycache__/dataloader.cpython-310.pyc
animal_classification/__pycache__/customDataLoader.cpython-310.pyc
animal_classification/__pycache__/dataloader.cpython-310.pyc
CIFAR_10/__pycache__/customDataLoader.cpython-310.pyc
CIFAR_10/__pycache__/customDataLoader.cpython-312.pyc
CIFAR_10/__pycache__/ResNet.cpython-310.pyc
CIFAR_10/__pycache__/ResNet.cpython-312.pyc
CIFAR_10/__pycache__/utils.cpython-310.pyc
CIFAR_10/__pycache__/utils.cpython-312.pyc
CIFAR_10/cifar-10-batches-py/batches.meta
CIFAR_10/cifar-10-batches-py/data_batch_1
CIFAR_10/cifar-10-batches-py/data_batch_2
CIFAR_10/cifar-10-batches-py/data_batch_3
CIFAR_10/cifar-10-batches-py/data_batch_4
CIFAR_10/cifar-10-batches-py/data_batch_5
CIFAR_10/cifar-10-batches-py/readme.html
CIFAR_10/cifar-10-batches-py/test_batch
data/.DS_Store
data/FashionMNIST/raw/t10k-images-idx3-ubyte
data/FashionMNIST/raw/t10k-images-idx3-ubyte.gz
data/FashionMNIST/raw/t10k-labels-idx1-ubyte
data/FashionMNIST/raw/t10k-labels-idx1-ubyte.gz
data/FashionMNIST/raw/train-images-idx3-ubyte
data/FashionMNIST/raw/train-images-idx3-ubyte.gz
data/FashionMNIST/raw/train-labels-idx1-ubyte
data/FashionMNIST/raw/train-labels-idx1-ubyte.gz
data/mnist/mnist.pkl.gz
data/mnist/raw/t10k-images-idx3-ubyte
data/mnist/raw/t10k-images-idx3-ubyte.gz
data/mnist/raw/t10k-labels-idx1-ubyte
data/mnist/raw/t10k-labels-idx1-ubyte.gz
data/mnist/raw/train-images-idx3-ubyte
data/mnist/raw/train-images-idx3-ubyte.gz
data/mnist/raw/train-labels-idx1-ubyte
data/mnist/raw/train-labels-idx1-ubyte.gz
data/test/*
data/train/*
TorchLesson/data/FashionMNIST/raw/t10k-images-idx3-ubyte
TorchLesson/data/FashionMNIST/raw/t10k-images-idx3-ubyte.gz
TorchLesson/data/FashionMNIST/raw/t10k-labels-idx1-ubyte
TorchLesson/data/FashionMNIST/raw/t10k-labels-idx1-ubyte.gz
TorchLesson/data/FashionMNIST/raw/train-images-idx3-ubyte
TorchLesson/data/FashionMNIST/raw/train-images-idx3-ubyte.gz
TorchLesson/data/FashionMNIST/raw/train-labels-idx1-ubyte
TorchLesson/data/FashionMNIST/raw/train-labels-idx1-ubyte.gz
*/.DS_Store
