.gitignordai .git# 무시할 파일 및 폴더 목록
wandb
__pycache__/
*.pyc

# 데이터 폴더
data/
TorchLesson/data/

# 시스템 파일
*.DS_Store

# PyTorch 모델 파일
*.pth

# CIFAR-10 특정 파일 무시
cifar-10-batches-py/
*.jpg

# 가상환경 폴더 및 기타 불필요한 폴더
lib/
bin/
bin/pip3
pyvenv.cfg
lib64
*/dataverser_files/
skin-cancer-prediction/dataverse_files/
.vscode/launch.json

# .npy 파일 제외
*.npy

# Jupyter Notebook 체크포인트 파일 제외
.ipynb_checkpoints/

# log 디렉터리 제외
log/
dataset/log/

# 특정 파일 제외
main-checkpoint.ipynb

# dataset/result 디렉터리 제외
dataset/result/

# dataset/untitled.txt 제외
dataset/untitled.txt

# drive 디렉터리 제외
drive/
dataset
*.txt
*.pt
*.png
*.jpg
*.tiff
*.tif
*/dataset/*
*/Semantic_segmentation_dataset/*
.npy
.

*.json
