wandb
__pycache__/dataloader.cpython-310.pyc
*/__pycache__/*
CIFAR_10/__pycache__/*
CIFAR_10/cifar-10-batches-py/*
data/*
TorchLesson/data/*
*/.DS_Store
*.pth
cifar-10-batches-py/data_batch_1
cifar-10-batches-py/data_batch_2
cifar-10-batches-py/data_batch_3
cifar-10-batches-py/data_batch_4
cifar-10-batches-py/data_batch_5
cifar-10-batches-py/test_batch
cifar-10-batches-py/batches.meta
__pycache__/